/*
Styles for older IE versions (previous to IE9).
*/

@import url("../../twentytwelve/css/ie.css");


/* *** DO NOT ADD CUSTOM CSS BEFORE THIS LINE *** */


/* *** SITE-WIDE CUSTOMIZATIONS *** */


/* Set site to fixed width 985px */
	.site {
			max-width: 985px;
		}

/* Match site background and padding to library website */
	body {
		background:url("http://www.fullerton.edu/core/_default/i/bg-body.jpg") top repeat-x !important;
		background-color:transparent !important;
		color:#000;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
	}

/* Matches main body links to library website */
	body.custom-font-enabled {
		font-family: Arial, Helvetica, sans-serif;
	}
	a {
		color:#06c;
		text-decoration:underline;
	}
	a:hover {
		color:#f60;
		text-decoration:underline;
	}

/* Match site padding to library website, makes wrapper same exact width as header */
	body .site {
		*/ padding: 0 40px;
		padding: 0 2.857142857rem; */
		padding: 0 0px;
		padding: 0 0rem;
		margin-top: 0px;
		margin-top: 0rem;
		margin-bottom: 0px;
		margin-bottom: 0rem;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);


/* CG: This is not working in IE */
/* Adds padding between the main content areas and the wrapper, due to wrapper padding being set to zero */
#main, #site-navigation {
	margin-left: 24px;
	margin-right: 24px;
}

/* Reduces padding between excerpts on Home and all Archive views */
.site-content article {
	border-bottom: 4px double #C7C6C3;
	margin-bottom: 52px;
	margin-bottom: 3.71428571rem;

}


/* *** HEADER CUSTOMIZATIONS *** */

/* CG: This is not working in IE */
/* Removed Top and Bottom Padding in Header */
.site-header {
	padding: 0;
	padding: 0;
	background-color:#0F3C73;
}


/* *** FOOTER CUSTOMIZATIONS ***  */

/* Expands footer width to 985 pixels */
footer[role="contentinfo"] {
	max-width: 985px; */ Modify width */
}


/* *** WIDGET CUSTOMIZATIONS *** */

/* CG: This is not working in IE */
/* Ports in library website-styled Hours and Help icons */
#iconHoursHelp {background-image:url("http://www.library.fullerton.edu/_resources/img/icon-hours-help.png"); background-position:left center; background-repeat:no-repeat; min-height:36px; background-color:transparent;}
	#iconHoursHelp a {color:#fff; width:80px; font-weight:bold; font-size:100%; display:block; line-height:1; float:left;}
	#lnkHours {text-align:left; padding-left:10px; padding-top:4px;}
	#lnkChat {text-align:left; padding-left:10px; padding-top:4px;}

/* CG: This is not working in IE */
/* Fixes theme p styling that displays underline under icon links */
.iconsSocialMedia a {text-decoration: none !important;}

/* Modifies space at the botom of each widget */
.widget-area .widget {
	margin-bottom: 10px;
	margin-bottom: 1.25rem;
	}

/* CG: This is not working in IE */
/* Ports in library website styling for widget titles */
.widget-area .widget h3 {
	margin-bottom: 5px;
	margin-bottom: 0.625rem;
	text-transform:uppercase; 
	color:#326781; 
	border-bottom:1px solid #326781;
	font-size: 14px;
	}

/* CG: This is not working in IE */
/* Ports in library website styling for sidebar bullet lists */
.widget-area .widget li {
	background-image:url("//www.fullerton.edu/core/_default/i/bullet-triangle-blue.gif");
	background-repeat:no-repeat;
	background-position:5px 7px;
	padding-left:15px;
	margin-bottom:6px;
	font-size:85%;
	line-height:1.4em;}

/* CG: This is not working in IE */
/* Ports in library website styling for sidebar widget links */
.widget-area .widget a{
	color:#06c;
	}
.widget-area .widget a:hover {
	color:#f60;
	text-decoration:underline;
	}

/* CG: This is not working in IE */
/* *** META CUSTOMIZATIONS *** */

/* Hides the "Leave a Reply" link displayed in excerpts and in the post heading. But keeps comment box visible. */
#content .comments-link {
    display: none;
}