/*
Theme Name:     Twenty Twelve Child Main
Theme URI:      http://wordpress.org/themes/twentytwelve
Description:    Main library child theme for the Twenty Twelve theme
Author:         Colleen Greene
Author URI:     http://www.library.fullerton.edu/about/profiles/cgreene/
Template:       twentytwelve                             
Version:        3.5.2
*/

/* Imports Parent Theme Style Sheet */
@import url("../twentytwelve/style.css");

/* *** DO NOT ADD CUSTOM CSS BEFORE THIS LINE *** */


/* *** SITE-WIDE CUSTOMIZATIONS *** */

/* Sets site Minimum width at 960 pixels, and maximum width at 985 pixels */
@media screen and (min-width: 960px) {
	.site {
		  max-width: 985px;
		  max-width: 70.35714285714286rem;
		}
	.ie .site {
			max-width: 985px;
		   }
/* Match site background and padding to library website */
	body {
		background:url("http://www.fullerton.edu/core/_default/i/bg-body.jpg") top repeat-x !important;
		background-color:transparent !important;
	}
	body .site {
		*/ padding: 0 40px;
		padding: 0 2.857142857rem; */
		padding: 0 0px;
		padding: 0 0rem;
		margin-top: 0px;
		margin-top: 0rem;
		margin-bottom: 0px;
		margin-bottom: 0rem;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}

/* Adds padding between the main content areas and the wrapper, due to wrapper padding being set to zero */
#main, #site-navigation {
	margin-left: 24px;
	margin-right: 24px;
}


/* *** HEADER CUSTOMIZATIONS *** */

/* Removed Top and Bottom Padding in Header */
.site-header {
	padding: 0;
	padding: 0;
}


/* *** Footer Customizations ***  */

/* Expands footer width to 985 pixels */
footer[role="contentinfo"] {
	max-width: 985px; */ Modify width */
}


/* *** Widget Customizations *** */

/* Ports in library website-tyled Hours and Help icons */
#iconHoursHelp {background-image:url("http://www.library.fullerton.edu/_resources/img/icon-hours-help.png"); background-position:left center; background-repeat:no-repeat; min-height:36px; background-color:transparent;}
	#iconHoursHelp a {color:#fff; width:80px; font-weight:bold; font-size:100%; display:block; line-height:1; float:left;}
	#lnkHours {text-align:left; padding-left:10px; padding-top:4px;}
	#lnkChat {text-align:left; padding-left:10px; padding-top:4px;}


.widget-area .widget h3 {
	margin-bottom: 12px;
	margin-bottom: 1.428571429rem;
	text-transform:uppercase; 
	color:#326781; 
	border-bottom:1px solid #326781;
	font-size: 14px;
	}

